<!--if the single page has the single css file,then use the folling-->
<!--<p>Your fortune of the day: </p>
<blockquote>{{fortune}}</blockquote>-->

<br>

<h2>ALL THE POSTS</h2>

    {{> post/postsLoop}}
