<h1>RESET PASSWORD</h1>

<form method="POST" action="/user/postForgotPassword">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <label>
    Email: <input type="email" name="email">
    </label>

    <input type="submit" value="Reset Password">
</form>


