<h1>RESET PASSWORD Forms</h1>

<form method="POST" action="">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <label>
    Email: <input type="email" name="email" value={{user.email}}>
    </label>
    <label>
    Password: <input type="password" name="password" placeholder="New Password">
    </label>
    <label>
    Confirm Password: <input type="password" name="passwordConfirmation" placeholder="Confirm New Password">
    </label>        
    <input type="submit" value="Reset Password">
</form>