<h1>UPDATE</h1>

<form method="PUT" action="/user/updateUser">

    <label>userName: <input type="text" name="username" value="{{user.username}}"></label> <br>
    <label>Email: <input type="email" name="email" value="{{user.email}}"></label><br>
    <label>Password: <input type="text" name="password" placeholder="Reset my password"></label><br>
    <label>Confirm Password: <input type="text" name="confirmPassword" placeholder="Confirm my password"></label><br>
    <input type="submit" value="submit">
</form>


