<!--if the single page has the single css file,then use the folling-->
{{#extend "css"}}
    <link rel="stylesheet" href="{{static '/css/example.css'}}">
{{/extend}}
<h1>welcome to the home page</h1>

<p>Your fortune of the day: </p>
<blockquote>{{fortune}}</blockquote>