                <h2>Welcome to the User Profile</h2>

                    <p>

                    
                        <strong>id</strong>: {{ user._id }}<br>
                        <strong>username</strong>: {{ user.local.username }}<br>
                        <strong>email</strong>: {{ user.local.email }}<br>
                        
                    </p>