<h1>submit your info</h1>
<form method="POST" enctype="multipart/form-data" action="/user/process/{{year}}/{{month}}">
     <input type="hidden" name="_csrf" value="{{csrfToken}}">
    Photo: <input type="file" required accept="image/*" id="fieldPhoto" name="photo">

    <input type="submit" value="submit">
</form>

